/backend/.env
/Cahier+des+charges+Groupomania.pdf
/backend/node_modules
/backend/package-lock.json
/backend/package.json

/étapesasuivre.txt
/setup_srv.txt

/frontend/node_modules
/frontend/package.json
/frontend/package-lock.json
/frontend/README.md
/frontend/babel.config.js
/frontend/vue.config.js
/frontend/vite.config.js
/frontend/src/assets
/frontend/.vscode
/frontend/index.html
backend/package.json
backend/package.json

Groupomania+Logos
#backend/images/*
/frontend.old

.gitignore